[Unit]
Description=Handwriter Server
[Install]
WantedBy=multi-user.target
[Service]
Type=simple
ExecStart=sudo python3 /home/ubuntu/TheHandwriter/handwriter_test/manage.py runserver --insecure 0.0.0.0:80
WorkingDirectory=/home/ubuntu/TheHandwriter/handwriter_test
Restart=never
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

