[Unit]
Description=Handwriter Server
[Install]
WantedBy=multi-user.target
[Service]
Type=simple
WorkingDirectory=/home/ubuntu/TheHandwriter/handwriter_main
ExecStart=sudo gunicorn handwriter_main.wsgi --bind localhost:8000
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
