/* violet is 7B8CDE */
/* grey is 16262E */

body {
    background-color:   #16262E;
}

.generic-section {

    display:            block;

    width:              70%;

    left:               0;

    margin-left:        15%;
    margin-right:       15%;
    margin-top:         0%;
    margin-bottom:      0%;

    border-style:       hidden hidden solid hidden;
    border-width:       3px;
    border-color:       #7B8CDE;

    padding-top:        15px;
    padding-bottom:     40px;
}

.generic-title {

    display:            block;

    width:              100%;

    font-family:        'poppins';
    font-style:         normal;
    font-size:          48px;
    font-weight:        700;

    color:              #FFFFFF;
    text-align:         center;
}

.generic-button {

    display:            block;

    width:              320px;
    height:             40px;

    font-family:        'poppins';
    font-style:         normal;
    font-size:          18px;
    font-weight:        500;

    background-color:   #7B8CDE !important;
    color:              #FFFFFF !important;

    border-radius:      15px;

    transition:         .33s;

    text-align:         center;

    line-height:        40px;

    cursor:             pointer;

    box-sizing:         border-box;
}

.generic-button:hover {

    background-color:   #57fd15 !important;
    color:              #000000 !important;
}

.navbar {

    display:            block;

    width:              70%;

    overflow:           hidden;

    background-color:   #16262E;

    top:                0;
    left:               0;

    margin-left:        15%;
    margin-right:       15%;
    margin-top:         0%;
    margin-bottom:      0%;

    border-style:       hidden hidden solid hidden;
    border-width:       3px;
    border-color:       #7B8CDE;
}

.navbar p {

    display:            inline-block;

    font-family:        'poppins';
    font-style:         normal;
    font-size:          40px;
    font-weight:        700;

    color:              #7B8CDE;
}

.navbar-regular {

    width:              100px;
    height:             40px;

    font-size:          18px !important;

    color:              #7B8CDE;
    background-color:   #16262E !important;

    transition:         .33s;

    text-align:         center;

    margin:             0px 20px 0px 20px;

    line-height:        40px;

    cursor:             pointer;
}

.navbar-regular:hover {

    font-size:          18px !important;

    background-color:   #16262E !important;
    color:              #57fd15 !important;
}

.navbar-share {

    background-color:   #7B8CDE !important;
    color:              #16262E !important;

    border-radius:      5px;
}

.navbar-share:hover {

    font-size:          18px !important;

    background-color:   #57fd15 !important;
    color:              #16262E !important;
}

.textentry {

    display:            block;
    width:              70%;

    left:               0;

    margin-left:        15%;
    margin-right:       15%;
    margin-top:         0%;
    margin-bottom:      0%;


    border-style:       hidden hidden solid hidden;
    border-width:       3px;
    border-color:       #7B8CDE;

    padding-top:        80px;
    padding-bottom:     40px;
}

.textentry textarea {

    display:            block;
    width:              75%;

    font-family:        'poppins';
    font-style:         normal;
    font-size:          18px;
    font-weight:        700;

    color:              #FFFFFF;
    background-color:   #16262E !important;

    border-radius:      28px;
    border:             3px solid #7B8CDE;

    margin-left:        auto;
    margin-right:       auto;
    margin-top:         0px;
    margin-bottom:      0px;

    padding:            10px 25px 10px 25px;
}

.textentry textarea::-webkit-input-placeholder {
    opacity:            1;
    font-size:          48px;
}

.textentry textarea:-moz-placeholder {
    opacity:            1;
    font-size:          48px;
}

.textentry textarea::-moz-placeholder {
    opacity:            1;
    font-size:          48px;
}

.textentry textarea:-ms-input-placeholder {
    opacity:            1;
    font-size:          48px;
}

.textentry textarea::-ms-input-placeholder {
    opacity:            1;
    font-size:          48px;
}

.textentry textarea::placeholder {
    opacity:            1;
    font-size:          48px;
}

.hw_mode_button_div {

    display:            inline-block;

    width:              100%;

    margin-left:        auto;
    margin-right:       auto;

    height:             150px;
}

.team-member-rect {
    height:             274px;
    width:              1100px;

    background-color:   #C4C4C4;

    border-radius:      137px 0px 0px 137px;
}

.profile-image-left {

    display:            block;
    width:              274px;
    height:             274px;

    border-radius:      274px;

    margin:             0;
}

.footer-contact-us {
    margin-top: 72px;

    text-align: center;

    font-family: 'poppins';
    font-size: 24px;
    font-weight: 700;
    color: #7B8CDE;
}

.footer-copyright {

    height: 72px;

    margin-top: 48px;
    margin-left: 15%;

    font-family: 'poppins';
    font-size: 18px;
    font-weight: 600;

    color: #E5E5E5;
}


/* Error Page 404 Styling */

.error-text-line-1 {
    text-align: center;

    font-size: 54px;
    font-weight: 700;
    font-family: 'poppins';

    margin-top: 64px;
}

.error-text-line-2 {
    text-align: center;

    font-size: 45px;
    font-weight: 600;
    font-family: 'poppins';

    margin-top: 32px;
}