html {
    scroll-behavior:    smooth;
}

:root {

    --primary-bg:       #16262E;
    --primary-fg:       #FFFFFF;

    --action-bg:        #7B8CDE;
    --action-fg:        #FFFFFF;

    --important-bg:     #16262E;
    --important-fg:     #7B8CDE;

    --hover-bg:         #57fd15;
    --hover-fg:         #000000;

    --border:           #7B8CDE;
}

body {
    background-color:   var(--primary-bg);
}

.generic-section {

    display:            block;

    width:              70%;

    left:               0;

    margin-left:        15%;
    margin-right:       15%;
    margin-top:         0%;
    margin-bottom:      0%;

    border-style:       hidden hidden solid hidden;
    border-width:       3px;
    border-color:       var(--border);

    padding-top:        15px;
    padding-bottom:     40px;
}

.generic-title {

    display:            block;

    width:              100%;

    font-family:        'poppins';
    font-style:         normal;
    font-size:          48px;
    font-weight:        700;

    color:              var(--action-fg);
    text-align:         center;
}

.generic-button {

    display:            block;

    width:              320px;
    height:             40px;

    font-family:        'poppins';
    font-style:         normal;
    font-size:          18px;
    font-weight:        500;

    background-color:   var(--action-bg) !important;
    color:              var(--action-fg) !important;

    border-radius:      15px;

    transition:         .33s;

    text-align:         center;

    line-height:        40px;

    cursor:             pointer;

    box-sizing:         border-box;
}

.generic-button:hover {

    background-color:   var(--hover-bg) !important;
    color:              var(--hover-fg) !important;
}

.navbar {

    display:            block;

    width:              70%;

    overflow:           hidden;

    top:                0;
    left:               0;

    margin-left:        15%;
    margin-right:       15%;
    margin-top:         0%;
    margin-bottom:      0%;

    border-style:       hidden hidden solid hidden;
    border-width:       3px;
    border-color:       var(--border);
}

.navbar p {

    display:            inline-block;

    font-family:        'poppins';
    font-style:         normal;
    font-size:          40px;
    font-weight:        700;

    color:              var(--action-bg);
}

.navbar-regular {

    width:              100px;
    height:             40px;

    font-size:          18px !important;

    background-color:   var(--primary-bg) !important;
    color:              var(--action-bg) !important;

    transition:         .33s;

    text-align:         center;

    margin:             0px 20px 0px 20px;

    line-height:        40px;

    cursor:             pointer;
}

.navbar-regular:hover {

    font-size:          18px !important;

    background-color:   var(--primary-bg) !important;
    color:              var(--hover-bg) !important;
}

.navbar-share {

    background-color:   var(--action-bg) !important;
    color:              var(--primary-bg) !important;

    border-radius:      5px;
}

.navbar-share:hover {

    font-size:          18px !important;

    background-color:   var(--hover-bg) !important;
    color:              var(--hover-fg) !important;
}

.textentry {

    display:            block;
    width:              70%;

    left:               0;

    margin-left:        15%;
    margin-right:       15%;
    margin-top:         0%;
    margin-bottom:      0%;


    border-style:       hidden hidden solid hidden;
    border-width:       3px;
    border-color:       var(--border);

    padding-top:        80px;
    padding-bottom:     40px;
}

.textentry textarea {

    display:            block;
    width:              75%;

    font-family:        'poppins';
    font-style:         normal;
    font-size:          18px;
    font-weight:        700;

    background-color:   var(--primary-bg) !important;
    color:              var(--primary-fg);

    border-radius:      28px;
    border:             3px solid var(--border);

    margin-left:        auto;
    margin-right:       auto;
    margin-top:         0px;
    margin-bottom:      0px;

    padding:            10px 25px 10px 25px;
}

.textentry textarea::-webkit-input-placeholder {
    opacity:            1;
    font-size:          48px;
}

.textentry textarea:-moz-placeholder {
    opacity:            1;
    font-size:          48px;
}

.textentry textarea::-moz-placeholder {
    opacity:            1;
    font-size:          48px;
}

.textentry textarea:-ms-input-placeholder {
    opacity:            1;
    font-size:          48px;
}

.textentry textarea::-ms-input-placeholder {
    opacity:            1;
    font-size:          48px;
}

.textentry textarea::placeholder {
    opacity:            1;
    font-size:          48px;
}

.hw_mode_button_div {

    display:            inline-block;

    width:              100%;

    margin-left:        auto;
    margin-right:       auto;

    height:             150px;
}

.generic-list {
    display:            block;

    font-family:        'poppins';
    font-style:         normal;
    font-size:          28px;
    font-weight:        500;

    color:              var(--primary-fg) !important;

    text-align:         left;

    cursor:             pointer;

    box-sizing:         border-box;
}

.team-member-rect {
    height:             274px;
    width:              1100px;

    background-color:   var(--primary-bg);

    border-radius:      137px 0px 0px 137px;
}

.profile-image-left {

    display:            block;
    width:              274px;
    height:             274px;

    border-radius:      274px;

    margin:             0;
}

.footer-contact-us {
    margin-top:         72px;

    text-align:         center;

    font-family:        'poppins';
    font-size:          24px;
    font-weight:        700;
    color:              var(--important-fg);
}

.footer-copyright {

    height:             72px;

    margin-top:         48px;
    margin-left:        15%;

    font-family:        'poppins';
    font-size:          18px;
    font-weight:        600;

    color:              var(--primary-fg);
}


/* Error Page 404 Styling */

.error-text-line-1 {

    text-align:         center;

    font-size:          54px;
    font-weight:        700;
    font-family:        'poppins';

    margin-top:         64px;
}

.error-text-line-2 {

    text-align:         center;

    font-size:          45px;
    font-weight:        600;
    font-family:        'poppins';

    margin-top:         32px;
}

.res_img {
    top: 0;
    left: 0;
    display: block;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0%;
    margin-bottom: 0%;
    border-width: 3px;
    border-color:       var(--border);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 30px;
}

/* Meet the team */

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card
{
    width: 330px;
    height: 416px;
    padding: 60px 30px;
    margin: 20px;
    background: var(--base-color);
    box-shadow: -5px 5px 10px rgba(20, 34, 41, 0.2), 5px -5px 10px rgba(20, 34, 41, 0.2), -5px -5px 10px rgba(24, 42, 51, 0.9), 5px 5px 13px rgba(20, 34, 41, 0.9), inset 1px 1px 2px rgba(24, 42, 51, 0.3), inset -1px -1px 2px rgba(20, 34, 41, 0.5);
    border-radius: 20px;
}
.container .card .content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .card .content .imgBx
{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.container .card .content .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content .contentBx h4
{
    color:              var(--focus-color);
    font-size:          1.7rem;
    font-weight:        bold;
    text-align:         center;
    font-family:        'poppins';

    margin-top:         15px;
    margin-bottom:      0;
}

.container .card .content .contentBx .contentBxDsc
{
    color:              var(--action-bg);
    font-size:          18px;
    font-weight:        400;
    text-align:         center;
    font-family:        'poppins';

    margin-top:         15px;
}

.container .card .content .contentBx .contentBxWhoAmI
{
    display:            block;

    width:              284px;
    height:             40px;

    font-family:        'poppins';
    font-style:         normal;
    font-size:          18px;
    font-weight:        500;

    background-color:   var(--action-bg) !important;
    color:              var(--action-fg) !important;

    border-radius:      15px;

    transition:         .33s;

    text-align:         center;

    line-height:        40px;

    cursor:             pointer;

    box-sizing:         border-box;

    margin-top:         auto;
    margin-left:        auto;
    margin-right:       auto;
}

.contentBxWhoAmI:hover {

    background-color:   var(--hover-bg) !important;
    color:              var(--hover-fg) !important;
}
