{% load static %}
<!doctype html>
<html lang="en">

<head>
    <script data-ad-client="ca-pub-6837536655268455" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'r.css' %}">
</head>

<body>
    <header id="ien7" class="header-banner">
        <div id="i7dzt7"><b>The Handwriter
            </b></div>
        <div id="ic87uh">Thank You For Using The Handwriter</div>
    </header>
    <img src={{image}} alt="My image" width="70%" height="70%" />

    <a href={{image}} download>
        <button type="button" class="button" id="i1let">Download Image</button>
</body>
<html>