<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>The Handwriter</title>

    <style>
        @import url(https://fonts.googleapis.com/css?family=Amatic+SC);
        @import url(https://fonts.googleapis.com/css?family=Ubuntu);
        @import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
        @import url(https://fonts.googleapis.com/css?family=Indie+Flower);
        @import url(https://fonts.googleapis.com/css?family=Passion+One);
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    </style>

    <!-- <link rel="stylesheet" href="/Users/blackhole/Desktop/VS_Code.nosync/TheHandwriter/static/style.css"> -->
    <link rel="stylesheet" href="/home/aditya/Documents/handwriter2/TheHandwriter/static/style.css">
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->

</head>

<body>

    <div class="navbar">
        <div style="display: inline-block; width: 60%; margin-left: 3%">
            <p>Handwriter</p>
        </div>
        <div style="display: inline-block; width: 35%; height: 100%; margin-right: 1%; border-left: 1px solid #7B8CDE">
            <div style="float: right;">
                <p class="navbar-regular" onclick="console.log('Clicked About us')">About Us</p>
                <p class="navbar-regular" onclick="console.log('Clicked Contact')">Contact</p>
                <p class="navbar-regular navbar-share" onclick="console.log('Clicked Share')">Share</p>
            </div>
        </div>
    </div>

    <div class="error-text-line-1">
        <p class="error-text-line-1" style="margin: 0;"><span style="color: white;">ERROR</span><span style="color: #7B8CDE;"> 500</span></p>
    </div>

    <div class="error-text-line-2">
        <p style="margin: 0;"><span style="color: white; line-height: 120px">Oops! Looks like you landed on our error page </span><span style="color: #7B8CDE;">:/</span></p>
    </div>

    <div>
        <iframe style="border: 0; display: block; margin-top: 64px; margin-bottom: 64px; margin-left: auto; margin-right: auto; width: 55%; height: 500px;" src="https://www.youtube.com/embed/jUrc__hvwwY"></iframe>
    </div>

    <div class="generic-section" style="margin-bottom: 64px !important;"></div>

    <!-- Footer -->

    <div>
        <p class="footer-contact-us">contact us at: handwriter@handwriter.in</p>
        <p class="footer-copyright">© 2022 handwriter.in</p>
    </div>

    <!-- Footer ends -->

</body>

</html>