{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>The Handwriter</title>

    <style>
        @import url(https://fonts.googleapis.com/css?family=Amatic+SC);
        @import url(https://fonts.googleapis.com/css?family=Ubuntu);
        @import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
        @import url(https://fonts.googleapis.com/css?family=Indie+Flower);
        @import url(https://fonts.googleapis.com/css?family=Passion+One);
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    </style>

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}"></script>

</head>

<body>

    <div class="navbar">
        <div style="display:        flex;
                    flex:           7 1 0;
                    padding-left:   16px;
                    font-size:      0px;">
            <p class="main-title" id="main-title"><a id="about-us-link" href="http://localhost:8000" target="_blank">Handwriter</a></p>
        </div>
        <div style="display:        flex;
                    flex:           3 1 0;
                    padding-right:  16px;
                    font-size:      0px;
                    border-left:    1px solid var(--border);">
            <p class="navbar-regular" id="navbar-about-us"><a id="about-us-link" href="http://localhost:8000#meet-the-team" target="_blank">About Us</a></p>
            <p class="navbar-regular" id="navbar-contact""><a id="about-us-link" href="http://localhost:8000#contact-us" target="_blank">Contact</a></p>
            <p class="navbar-regular navbar-share" id="navbar-share" onclick="shareClick()">Share</p>
        </div>
        <p class="navbar-regular navbar-share" id="navbar-share-mobile">Share</p>
    </div>

    <div class="res-img">
        <img class="img-styling" src={{ image }}>
    </div>

    <div>
        <p class="generic-button" style="display: block;
                                        margin-left: 15%;
                                        width: 350px;
                                        margin-right: auto;
                                        margin-top: 0%;
                                        text-align: center;">Download</p>
    </div>

    <div class="generic-section" style="margin-bottom: 64px !important;"></div>

    <!-- Footer -->

    <div>
        <p class="footer-contact-us" id="contact-us">contact us at handwriter@handwriter.in</p>
        <p class="footer-copyright">© 2022 handwriter.in</p>
    </div>

    <!-- Footer ends -->

</body>

</html>